* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Graphik-bold"; 
	src: url("./src/fonts/Graphik-Bold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: "Graphik-regular"; 
	src: url("./src/fonts/Graphik-Regular.otf") format("opentype");
	font-weight: normal;
}

body {
    margin: 0;
    font-family: "Graphik-regular", sans-serif;
	font-size: 1rem;
}

.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* height: 100px; */
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10), 0px 2px 3px 0px rgba(0, 0, 0, 0.06);
	padding: 1.5rem;
}

.logo {
	width: 80px;
}

.brand-btn {
	text-decoration: none;
	font-family: "Graphik-bold";
	color: white;
	background-color: #007CF9;
	font-size: 1.1rem;
	padding: 0.5em 1em;
	border: none;
	cursor: pointer;
}

@media (min-width: 720px) {
	header {
		padding: 2rem;
	}
	
	.logo {
		width: 100px;
	}

	.brand-btn {
		font-size: 1.3rem;
	}
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:relative;
}

h1 {
	font-family: "Graphik-bold", sans-serif;
	font-size: 2.2rem;
	color: white;
	text-shadow: 0 0 5px black;
	text-align: center;
	margin-bottom: 2em;
	padding: 0 0.5em;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.background-img {
	z-index: -1;
	position: absolute;
    width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: center;
	opacity: 0.8;
}

.home > button {
	font-size: 1.5rem;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.5rem;
	}

	.home > button {
		font-size: 2rem;
	}
}

@media (min-width: 1024px) {
	h1 {
		font-size: 3rem;
	}

	.home > button {
		font-size: 2.5rem;
	}
}

.quiz-section {
	display: flex;
	flex-direction: column;
}

section.questions {
	background-color: rgba(255, 255, 255, 0.9);
	margin: 2em 2em 1em;
	padding: 1em 2em 2em;
	display: flex;
	flex-direction: column;
	min-height: 800px;
}
.question {
	color: black;
	font-weight: bold;
	font-family: "Graphik-bold";
	font-size: 1.3rem;
}

.answers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #DBDEF0;
}

.answers > input {
	position: absolute;
	opacity: 0;
}

.answer-btn {
	border: 2px solid #007CF9;
	background-color: white;
	color: #007CF9;
	transition: box-shadow 0.2s ease-in-out;
}

.checked {
	color: white;
	background-color: #007CF9;
}

.answer-btn:hover {
	box-shadow: inset 0 0 0 2px #007CF9;
}

.correctSelect {
	background-color: #3BB891;
	color: white;
}

.incorrectSelect {
	background-color: #FF635A;
	color:white;
}

.correct {
	color: #3BB891;
	background-color: white;
	border: 1px solid #3BB891;
}

.incorrect {
	color: #FF635A;
	background-color:white;
	border: 1px solid #FF635A;
}

.greyOut {
	opacity: 0.7;
}

.results-section {
	font-size: 1.2rem;
	font-weight: bold;
	font-family: "Graphik-bold";
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}

.score {
	color: #007CF9;
}

.play-again-btn {
	margin: 0 2em;
}

.reset-btn {
	background-color: #F7AE80;
	font-size: 0.8rem;
	margin: 1rem 2rem;
	align-self: end;
}

@media (min-width: 720px) {
	.reset-btn {
		font-size: 1rem;
	}
}

@media (min-width: 1024px) {
	.reset-btn {
		font-size: 1.3rem;
	}
}