* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Graphik-bold"; 
	src: url("./src/fonts/Graphik-Bold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: "Graphik-regular"; 
	src: url("./src/fonts/Graphik-Regular.otf") format("opentype");
	font-weight: normal;
}

body {
    margin: 0;
    font-family: "Graphik-regular", sans-serif;
	font-size: 1rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
	padding: 0 1.5rem;
}

.logo {
	width: 100px;
}

.brand-btn {
	text-decoration: none;
	font-family: "Graphik-bold";
	color: white;
	background-color: #007DFA;
	font-size: 1.3rem;
	padding: 0.6em 1em;
}

h1 {
	font-family: "Graphik-bold", sans-serif;
	font-size: 2.2rem;
	color: white;
	text-shadow: 0 0 5px black;
	text-align: center;
	margin-bottom: 2em;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50vh;
}

.background-img {
	z-index: -1;
	position: absolute;
    width: 100%;
    height: 100%;
	object-fit: cover;
    object-position: center;
	opacity: 0.5;
}

.home > button {
	border: none;
	font-size: 1.5rem;
}

section.questions {
	background-color: white;
	margin: 1em;
	padding: 1em 2em 2em;
	
}
.question {
	color: black;
	font-weight: bold;
	font-family: "Graphik-bold";
	font-size: 1.3rem;
}

.answers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #DBDEF0;
	margin-bottom: 2em;

}

.answers > input {
	position: absolute;
	opacity: 0;
}

.answer-btn {
	border: 2px solid #007DFA;
	background-color: white;
	color: #007DFA;
	font-family: "Graphik-bold";
	padding: 0.5em 1em;
	font-size: 1rem;
	transition: box-shadow 0.2s ease-in-out;
}

.checked {
	color: white;
	background-color: #007DFA;
}

.answer-btn:hover {
	box-shadow: inset 0 0 0 2px #007DFA;
}

